* {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
}
button {
  margin: 5px;
  padding: 2px 5px;
  border: 2px solid black;
  color: #fff;
  font-weight: 600;
  background-color: #000;
}
.container {
  font-size: 30px;
}
.container h1 {
  text-shadow: 2px 2px 8px #000;
}
.container button {
  font-size: 20px;
  font-weight: bolder;
  background-color: turquoise;
  color: #000;
}
